@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
  --header: #959a9c;
  --background-color: #41506b;
  --dark-teal: #79c2d0;
  --light-teal: #bbe4e9;
  --dark-gray: rgb(51, 51, 51);
  --soft-white: #fbfbfd;
}

* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  color: var(--dark-gray);
}

#root {
  min-height: 100vh;
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr 100px;
}

.footer {
  grid-column: 1 2;
  grid-row: 3 4;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-gray);
}

.header {
  grid-column: 1 2;
  grid-row: 1 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-gray);
  padding: 1em;
}

.header h1,
.footer h1 {
  color: var(--soft-white);;
}

.form-container, .cv-container{
  padding: 1em;
}

.form, .cv {
  padding: 3rem;
  border: 2px solid transparent;
  border-radius: 6px;
  box-shadow: 5px 5px 5px black;
  background-color: #fbfbfd;
}

.content {
  grid-column: 1 2;
  grid-row: 2 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1.5rem;
  background-color: var(--background-color);
}

.p-info {
  display: flex;
  flex-direction: column;
}

.entry {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 0px;
}

.entry input,
.entry textarea {
  flex: auto;
  font-family: -apple-system, sans-serif;
  font-weight: 500;
  font-size: 1em;
  color: #040404;

  border-radius: 0.4vw;
  border: 1px solid transparent;
  outline: none;

}

input:hover,
textarea:focus,
textarea:hover {
  border: 1px solid var(--background-color);
}

.cv-header {
  display: flex;
  border-bottom: 2px solid var(--light-teal);
  height: 100px;
  color: #41506b;
}

.name-info {
  flex: auto;
}

.header-p-info {
  flex: auto;
  text-align: end;
}

.cv-experience, 
.cv-education {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  border-bottom: 2px solid var(--light-teal);
  margin: 12px 0px;
}

.exp-entry, 
.edu-entry {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1rem 0px;
}

.exp-top,
.edu-top {
  display: flex;
  margin-bottom: 0.5rem;
}

.exp-top h3,
.edu-top h3 {
  flex: 2;
}

.exp-top p,
.edu-top p {
  flex: 1;
}

.description {
  padding: 12px 0px;
  border-bottom: 2px solid var(--light-teal);
}

h2 {
  margin-bottom: 12px;
}

button {
  background-color: var(--dark-gray);
  color: #fbfbfd;
  width: 7rem;
  height: 2rem;
  border: 1px solid #fbfbfd;
  border-radius: 4px;
}

button:active {
  background-color: rgb(63, 238, 203);
}

.bottom-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0px;
  border-top: 2px solid var(--dark-gray);
  padding: 1rem;
}

.form-sec {
  margin-bottom: 1rem;
}

textarea {
  resize: vertical;
}